Standard: Cpp11
BasedOnStyle: Google
BreakBeforeBraces: Attach
UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
ColumnLimit: 150
AccessModifierOffset: -4
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
BraceWrapping:
    AfterEnum: false
    AfterStruct: false
    AfterClass: false
    SplitEmptyFunction: false
    AfterControlStatement: false
    AfterNamespace: false
    AfterFunction: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: false
    BeforeElse: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
